In [1]:
import pandas as pd

train = pd.read_json("dataset/semeval2016_paraphrased/semeval2016_paraphrased_train.json")
test = pd.read_json("dataset/semeval2016_paraphrased/semeval2016_paraphrased_test.json")
train

                                                    text labels
0      Also, the tea on that BBC report from 2 Septem...     []
1      Paper Towns on Saturday? More like Paper Disap...     []
2      Floyd Mayweather vs. Andre Berto in September....     []
3      Yo Bernie, Chuck Toad is gonna come at you on ...     []
4      This pic has all the "Seculars" shaking in the...     []
...                                                  ...    ...
14690  Indians open with Red Sox &amp; don't get the ...     []
14691  Monsanto Owns the Government: the House Just B...     []
14692  Chibok: 500 days in Boko Haram captivity: Rela...     []
14693  I'm a Red Sox fan &amp; this man should have j...     []
14694  Dana White coming off as an asshole telling Ho...     []

[14695 rows x 2 columns]

In [5]:
len(train[train["labels"]=="[]"]),len(train[train["labels"]!="[]"])

(5802, 8893)

In [6]:
len(train)

14695

In [7]:
train.drop_duplicates()

                                                    text labels
0      Also, the tea on that BBC report from 2 Septem...     []
1      Paper Towns on Saturday? More like Paper Disap...     []
2      Floyd Mayweather vs. Andre Berto in September....     []
3      Yo Bernie, Chuck Toad is gonna come at you on ...     []
4      This pic has all the "Seculars" shaking in the...     []
...                                                  ...    ...
14690  Indians open with Red Sox &amp; don't get the ...     []
14691  Monsanto Owns the Government: the House Just B...     []
14692  Chibok: 500 days in Boko Haram captivity: Rela...     []
14693  I'm a Red Sox fan &amp; this man should have j...     []
14694  Dana White coming off as an asshole telling Ho...     []

[14633 rows x 2 columns]