In [2]:
import pandas as pd

df = pd.read_csv("classification/results.csv")
df.columns

Index(['Unnamed: 0', 'FE Model', 'FE Method', 'FE Layers',
       'FE Layers Agg Method', 'FE Dataset', 'Test Dataset', 'Classifier',
       'F1', 'Precision', 'Recall', 'Confusion Matrix', 'Timestamp'],
      dtype='object')

In [3]:
string_arr = df["Precision"][3]

def string_to_arr(arr):
    arr = [char for char in arr if char in " 0.123456789"]
    string_arr = ""
    for char in arr: string_arr += char
    arr = string_arr.split(" ")
    arr = [elem for elem in arr if elem!=""]
    arr = ["{:.4f}".format(float(e)).replace(".",",") for e in arr]
    return arr


string_to_arr(string_arr)

['0,5422', '0,8969']

In [4]:
prec = [string_to_arr(elem) for elem in df["Precision"]]
prn, prp = [], []
for n, p in prec: prn.append(n);prp.append(p)

rec = [string_to_arr(elem) for elem in df["Recall"]]
ren, rep = [], []
for n, p in rec: ren.append(n);rep.append(p)

f1 = [string_to_arr(elem) for elem in df["F1"]]
f1n, f1p = [], []
for n, p in f1: f1n.append(n);f1p.append(p)

for elem in zip(prn, prp, ren, rep, f1n, f1p):print(elem)

('0,5645', '0,8790', '0,3977', '0,9345', '0,4667', '0,9059')
('0,5679', '0,8998', '0,5227', '0,9150', '0,5444', '0,9073')
('0,5465', '0,9010', '0,5341', '0,9053', '0,5402', '0,9031')
('0,5422', '0,8969', '0,5114', '0,9078', '0,5263', '0,9023')
('0,5238', '0,8942', '0,5000', '0,9029', '0,5116', '0,8986')
('0,5325', '0,8889', '0,4659', '0,9126', '0,4970', '0,9006')
('0,5000', '0,8876', '0,4659', '0,9005', '0,4824', '0,8940')
('0,5060', '0,8897', '0,4773', '0,9005', '0,4912', '0,8951')

In [5]:
df["Prec. N"]=prn; df["Prec. P"]=prp
df["Rec. N"]=ren; df["Rec. P"]=rep
df["F1 N"]=f1n; df["F1 P"]=f1p

results_csv = df[["FE Dataset", "Prec. N", "Prec. P", "Rec. N", "Rec. P", "F1 N", "F1 P"]]
results_csv

,FE Dataset,Prec. N,Prec. P,Rec. N,Rec. P,F1 N,F1 P
0,semeval2024,"0,5645","0,8790","0,3977","0,9345","0,4667","0,9059"
1,semeval2024_paraphrased_select_low,"0,5679","0,8998","0,5227","0,9150","0,5444","0,9073"
2,semeval2024_paraphrased_select_mid,"0,5465","0,9010","0,5341","0,9053","0,5402","0,9031"
3,semeval2024_paraphrased_select_high,"0,5422","0,8969","0,5114","0,9078","0,5263","0,9023"
4,paraphrase4,"0,5238","0,8942","0,5000","0,9029","0,5116","0,8986"
5,semeval2024_paraphrased_select_low,"0,5325","0,8889","0,4659","0,9126","0,4970","0,9006"
6,semeval2024_paraphrased_select_mid,"0,5000","0,8876","0,4659","0,9005","0,4824","0,8940"
7,semeval2024_paraphrased_select_high,"0,5060","0,8897","0,4773","0,9005","0,4912","0,8951"

In [6]:
results_csv.to_csv("plots/results_select12_clean.csv", index=False)