In [1]:
import pandas as pd

df = pd.read_csv("classification/results.csv")
df.columns

Index(['Unnamed: 0', 'FE Model', 'FE Method', 'FE Layers',
       'FE Layers Agg Method', 'FE Dataset', 'Test Dataset', 'Classifier',
       'F1', 'Precision', 'Recall', 'Confusion Matrix', 'Timestamp'],
      dtype='object')

In [2]:
string_arr = df["Precision"][3]

def string_to_arr(arr):
    arr = [char for char in arr if char in " 0.123456789"]
    string_arr = ""
    for char in arr: string_arr += char
    arr = string_arr.split(" ")
    arr = [elem for elem in arr if elem!=""]
    arr = ["{:.4f}".format(float(e)).replace(".",",") for e in arr]
    return arr


string_to_arr(string_arr)

['0,0000', '0,8240']

In [3]:
prec = [string_to_arr(elem) for elem in df["Precision"]]
prn, prp = [], []
for n, p in prec: prn.append(n);prp.append(p)

rec = [string_to_arr(elem) for elem in df["Recall"]]
ren, rep = [], []
for n, p in rec: ren.append(n);rep.append(p)

f1 = [string_to_arr(elem) for elem in df["F1"]]
f1n, f1p = [], []
for n, p in f1: f1n.append(n);f1p.append(p)

for elem in zip(prn, prp, ren, rep, f1n, f1p):print(elem)

('0,6250', '0,9095', '0,5682', '0,9272', '0,5952', '0,9183')
('0,0000', '0,8240', '0,0000', '1,0000', '0,0000', '0,9035')
('0,0000', '0,8240', '0,0000', '1,0000', '0,0000', '0,9035')
('0,0000', '0,8240', '0,0000', '1,0000', '0,0000', '0,9035')
('0,0000', '0,8240', '0,0000', '1,0000', '0,0000', '0,9035')
('0,9318', '0,8889', '0,9880', '0,5714', '0,9591', '0,6957')
('0,9535', '0,9091', '0,9880', '0,7143', '0,9704', '0,8000')
('0,9412', '0,7500', '0,9639', '0,6429', '0,9524', '0,6923')
('0,9108', '0,9280', '0,7984', '0,9708', '0,8509', '0,9489')
('0,0000', '0,7280', '0,0000', '1,0000', '0,0000', '0,8426')
('0,0000', '0,7280', '0,0000', '1,0000', '0,0000', '0,8426')

In [4]:
df["Prec. N"]=prn; df["Prec. P"]=prp
df["Rec. N"]=ren; df["Rec. P"]=rep
df["F1 N"]=f1n; df["F1 P"]=f1p

results_csv = df[["FE Dataset", "Prec. N", "Prec. P", "Rec. N", "Rec. P", "F1 N", "F1 P"]]
results_csv

,FE Dataset,Prec. N,Prec. P,Rec. N,Rec. P,F1 N,F1 P
0,semeval2024,"0,6250","0,9095","0,5682","0,9272","0,5952","0,9183"
1,paraphrase,"0,0000","0,8240","0,0000","1,0000","0,0000","0,9035"
2,paraphrase4,"0,0000","0,8240","0,0000","1,0000","0,0000","0,9035"
3,paraphrase,"0,0000","0,8240","0,0000","1,0000","0,0000","0,9035"
4,paraphrase,"0,0000","0,8240","0,0000","1,0000","0,0000","0,9035"
5,semeval2015_2,"0,9318","0,8889","0,9880","0,5714","0,9591","0,6957"
6,semeval2015_paraphrased2,"0,9535","0,9091","0,9880","0,7143","0,9704","0,8000"
7,semeval2015_paraphrased2_1to4_selected,"0,9412","0,7500","0,9639","0,6429","0,9524","0,6923"
8,semeval2016,"0,9108","0,9280","0,7984","0,9708","0,8509","0,9489"
9,semeval2016_paraphrased,"0,0000","0,7280","0,0000","1,0000","0,0000","0,8426"
10,semeval2016_paraphrased_1to4,"0,0000","0,7280","0,0000","1,0000","0,0000","0,8426"

In [5]:
results_csv.to_csv("plots/results_bernice_clean.csv", index=False)