In [50]:
import pandas as pd

df = pd.read_csv("classification/results_semeval2016_paraphrasing.csv")
df.columns

Index(['Unnamed: 0', 'FE Model', 'FE Method', 'FE Layers',
       'FE Layers Agg Method', 'FE Dataset', 'Test Dataset', 'Classifier',
       'F1', 'Precision', 'Recall', 'Confusion Matrix', 'Timestamp'],
      dtype='object')

In [55]:
string_arr = df["Precision"][3]

def string_to_arr(arr):
    arr = [char for char in arr if char in " 0.123456789"]
    string_arr = ""
    for char in arr: string_arr += char
    arr = string_arr.split(" ")
    arr = [elem for elem in arr if elem!=""]
    arr = ["{:.4f}".format(float(e)).replace(".",",") for e in arr]
    return arr


string_to_arr(string_arr)

['0,8541', '0,9467']

In [56]:
prec = [string_to_arr(elem) for elem in df["Precision"]]
prn, prp = [], []
for n, p in prec: prn.append(n);prp.append(p)

rec = [string_to_arr(elem) for elem in df["Recall"]]
ren, rep = [], []
for n, p in rec: ren.append(n);rep.append(p)

f1 = [string_to_arr(elem) for elem in df["F1"]]
f1n, f1p = [], []
for n, p in f1: f1n.append(n);f1p.append(p)

for elem in zip(prn, prp, ren, rep, f1n, f1p):print(elem)

('0,8422', '0,9152', '0,7653', '0,9464', '0,8019', '0,9305')
('0,7980', '0,9308', '0,8164', '0,9228', '0,8071', '0,9268')
('0,8078', '0,9287', '0,8094', '0,9280', '0,8086', '0,9284')
('0,8541', '0,9467', '0,8576', '0,9453', '0,8559', '0,9460')
('0,7832', '0,9387', '0,8405', '0,9130', '0,8108', '0,9257')
('0,7841', '0,9352', '0,8305', '0,9145', '0,8066', '0,9248')
('0,7918', '0,9214', '0,7894', '0,9224', '0,7906', '0,9219')

In [57]:
df["Prec. N"]=prn; df["Prec. P"]=prp
df["Rec. N"]=ren; df["Rec. P"]=rep
df["F1 N"]=f1n; df["F1 P"]=f1p

results_csv = df[["FE Dataset", "Prec. N", "Prec. P", "Rec. N", "Rec. P", "F1 N", "F1 P"]]
results_csv

,FE Dataset,Prec. N,Prec. P,Rec. N,Rec. P,F1 N,F1 P
0,semeval2016,"0,8422","0,9152","0,7653","0,9464","0,8019","0,9305"
1,semeval2016,"0,7980","0,9308","0,8164","0,9228","0,8071","0,9268"
2,semeval2016,"0,8078","0,9287","0,8094","0,9280","0,8086","0,9284"
3,semeval2016_paraphrased,"0,8541","0,9467","0,8576","0,9453","0,8559","0,9460"
4,semeval2016,"0,7832","0,9387","0,8405","0,9130","0,8108","0,9257"
5,semeval2016,"0,7841","0,9352","0,8305","0,9145","0,8066","0,9248"
6,semeval2016_paraphrased_1to4,"0,7918","0,9214","0,7894","0,9224","0,7906","0,9219"

In [58]:
results_csv.to_csv("plots/results_semeval2016_clean.csv", index=False)