In [2]:
import pandas as pd

dataset = pd.read_csv("dataset/semeval2015-task11/SemEval15-Task11.csv")
dataset

                                                 tweet     class
0    idk why tht vine is so funny to me. but, it's ...  positive
1    literally soooo close to finishing the new sin...  positive
2    I was like "a strawberry limeade sounds good r...  positive
3    Pretty sure I'm getting carpal tunnel from my ...  positive
4    “@smartasshawn: “@RickyPDillon: PRETTY LITTLE ...  positive
..                                                 ...       ...
316  Just got a French kiss from Ames. Had to rinse...  negative
317  Once you think you trust someone so much, they...  negative
318  Feel Free to Take a Breath Any Time During Thi...  negative
319  I'm at the Pacific Beach store and I have to m...  negative
320  Tried to pierce my lip. Fucking failed and it'...  negative

[321 rows x 2 columns]

In [3]:
len(dataset[dataset["class"]=="positive"]), len(dataset[dataset["class"]=="negative"])

(47, 274)